.footer{
    color: white;
    background-color: rgb(24,46,94);
    width: 100%;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.copyright{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}